body {
  font-family: 'Inter';
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.main-content {
  flex-grow: 1; 
  background-color: #f5f7fa;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.list-container {
  overflow-y: auto; 
  max-height: 70vh;
  padding: 10px;
}

.details-container {
  overflow-y: auto;
  max-height: 50vh; 
  padding: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  margin-top: auto;
}

.success-message, .error-message {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  z-index: 1000;
}

.success-message {
  background-color: green;
}

.error-message {
  background-color: red;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
