/* Modal for Change Password */
.change-password-modal .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .password-container {
    position: relative;
    width: 100%;
  }
  
  .password-container input {
    width: 100%;
    padding-right: 40px;
  }
  
  .password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
  }
  
  
  .change-password-modal .modal-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .change-password-modal .modal-content h2 {
    margin-top: 0;
    text-align: center;
  }
  
  .change-password-modal input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .change-password-modal .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .change-password-modal .modal-buttons button {
    padding: 12px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 48%;
  }
  
  .change-password-modal .cancel-btn {
    background-color: gray;
  }
  
  .change-password-modal .cancel-btn:hover {
    background-color: darkgray;
  }
  
  .success-message, .error-message {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
  }
  
  .success-message {
    background-color: green;
  }
  
  .error-message {
    background-color: red;
  }
  