.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0066CC;
    color: #fff;
    padding: 10px;
  }

  .header-notAuth {
    display: flex;
    justify-content: space-between; /* заглавие вляво, бутони вдясно */
    align-items: center;
    background-color: #0066CC;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
  }
  
  .header-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  
  .auth-buttons {
    display: flex;
    gap: 10px;
  }
  
  .small-auth-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
  }  
  

  .header-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .small-auth-button:not(:last-child) {
    margin-right: 10px;
  }  
  
  .logout-button .small-logout-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
  }
  
  .hidden {
    display: none;
  }
  
  .menu-container {
    position: relative;
  }
  
  .menu-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .menu-dropdown {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 150px;
  }
  
  .menu-item {
    color: #0066CC;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
  }
  
  .title {
    margin: 0;
  }
  
  .title-center {
    margin: 0;
    text-align: center;
    width: 100%;
  }
  
  .notification {
    cursor: pointer;
  }
  
  .notification {
    position: relative;
  }
  
  .notification-icon {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    outline: none;
    display: flex;
    align-items: center;
  }
  
  .notification-icon:hover {
    color: #f1c40f;
  }
  
  .notifications-dropdown {
    position: absolute;
    top: 35px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    z-index: 1000;
    width: 30vw;
  }
  
  .notifications-dropdown h1 {
    margin: 0;
    font-size: 1.2em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 10px;
  }
  
  .notifications-dropdown p {
    margin: 5px 0;
    color: #333;
  }

  @media (max-width: 1000px) {
    .notifications-dropdown {
      width: 50vw;
    }
  }

  @media (max-width: 800px) {
    .notifications-dropdown {
      width: 70vw;
    }
  }

  @media (max-width: 600px) {
    .notifications-dropdown {
      width: 95vw;
    }
  }
  