.notification-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-height: 80vh; 
    overflow-y: auto;
}

@media (max-width: 600px) {
    .notification-container {
        overflow-y: auto;
        max-height: 90%;
    }
  }

.notificationCard {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff; 
}

.message {
    color: black;
    font-size: 1em;
    font-weight: normal;
    width: 100%; 
    text-align: left; 
}

.date {
    margin-top: 5px;
    font-size: 0.9em;
    color: #888;
    width: 100%;
    text-align: left;
}

.boldMessage {
    font-weight: bold; 
}

.notificationCard.unread {
    background-color: #f0f0f0; 
}
